<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edits</title>
</head>
<body>
    <h1>Edit your posts</h1>
    <h3>id: <%=post.id%></h3>
    <p>username: <%=post.username%></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea name="content" id="" cols="30" rows="10"><%=post.content%></textarea>
        <button>Submit</button>
    </form>
</body>
</html>